*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/bg10.jpg);
    background-size: cover;
    background-repeat: round;
}
header{
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 10vh;
}
header #alura_logo{
    margin-right: 10px;
    width: 40px;
    height: 50px;
}
header h1{
    font-family: '1942 report', sans-serif;
    color: aliceblue;
}
main{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 80vh;
    gap: 10px;
}
main .form{
    width: 40vw;
}
.form #textarea_mensagem{
    width: 100%;
    font-size: 2em;
}
main aside{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.btn{
    width: 150px;
    height: 80px;
    border-radius: 50px;
    font-size: 20px;
    background-color: mediumslateblue;
    margin-top: 10px;
    border: none;
}
.btn:hover{
    background-color: blue;
    color: white;
}

footer{
    text-align: center;
    width: 70vw;
    height: 10vh;

}
.footer-content{
    color: white;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    header {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        height: auto; 
        align-items: center;
        width: 90vw;
    }
    main .form {
        width: 80vw; 
    }
    main aside {
        width: 80vw; 
    }
}

@media screen and (max-width: 768px) {
    footer {
        width: 90vw;
    }
}